@font-face {
  src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-family: $font-name;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-family: $font-name;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-family: $font-name;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
