html {
  --color-primary: var(--color-blue-1);
  --color-text: var(--color-dark);
  --color-background-main: var(--color-white-1);
  --color-box-shadow-theme: rgb(var(--color-rgb-black-2) / 0.25);
  --card-background-color: var(--color-white);
  --label-text-primary: var(--color-blue-3);
  --label-text-success: var(--color-green-2);
  --label-text-danger: var(--color-red-2);

  .mantine-Table-table {
    .mantine-Table {
      &-tr {
        &.active {
          --card-background-color: rgb(var(--color-rgb-blue-1) / 0.5);
        }
      }
    }
  }

  &[data-mantine-color-scheme='dark'] {
    --color-background-main: var(--color-black-1);
    --color-text: var(--color-white);
    --color-primary: var(--color-beige-1);
    --color-secondary: var(--color-beige-2);
    --color-box-shadow-theme: rgb(var(--color-rgb-white) / 0.25);
    --label-text-primary: var(--color-blue-1);
    --label-text-success: var(--color-green-1);
    --label-text-danger: var(--color-red);

    .mantine-Table-table {
      .mantine-Table {
        &-tr {
          --card-background-color: var(--color-black-2);

          &.active {
            --card-background-color: rgb(var(--color-rgb-orange-1) / 0.6);
          }
        }
      }
    }
  }
}
