@include generate-color-classes;
@include generate-display-classes((block, flex, grid, none, inline, inline-block, inline-flex, inline-grid));
@include generate-text-classes((
  sm: var(--font-size--sm),
  md: var(--font-size--md),
  lg: var(--font-size--lg),
  xl: var(--font-size--xl)
));
@include generate-margin-classes((
  auto: auto,
  0: 0,
  4: 4px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  26: 26px,
  28: 28px,
  32: 32px,
  40: 40px,
  48: 48px,
));
@include generate-padding-classes((
  0: 0,
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  26: 26px,
  32: 32px,
  40: 40px,
  48: 48px,
));
