@import 'resources/variables';

.d-flex {
  display: flex !important;
}

.ai-center {
  align-items: center !important;
}

.jc-between {
  justify-content: space-between !important;
}

.jc-center {
  justify-content: center !important;
}

.fd-column {
  flex-direction: column !important;
}

.w-100 {
  width: 100% !important;
}

h2, .h2 {
  font-size: $size--52;
  line-height: $size--44;
  font-weight: 700;
  color: $color--primary-dark;
  margin-bottom: $size--40;
}

h3, .h3 {
  font-weight: 600;
  font-size: $size--34;
  line-height: $size--44;
  color: $color--primary-dark;
}