@import 'resources/variables';

.d-flex {
  display: flex !important;
}

.fd-column {
  flex-direction: column !important;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.fw-no-w {
 flex-wrap: nowrap;
}

.fw-w {
  flex-wrap: wrap;
}

.ai-center {
  align-items: center !important;
}

.jc-between {
  justify-content: space-between !important;
}

.jc-center {
  justify-content: center !important;
}

.p-relative {
  position: relative;
}

h2, .h2 {
  font-size: $size--52;
  line-height: $size--44;
  font-weight: 700;
  color: $color--primary-dark;
  margin-bottom: $size--40;
}

h3, .h3 {
  font-weight: 600;
  font-size: $size--34;
  line-height: $size--44;
  color: $color--primary-dark;
}

h4, .h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: $color--primary-dark;
}
