$color--black: #000;
$color--dark: #333;
$color--white: #fff;
$color--border: #e9e9e9;
$color--background: #f9f9f6;
$color--hover: #f9f9f9;
$color--hover-form: #d3d3d3;
$color--danger: #e30c47;
$color--success: #7cc974;
$color--primary: #2d9cdb;
$color--primary-hover: #0c608d;

$project-font--primary: source-sans-pro, sans-serif;
$font--size: 14px;
$size--12: 12px;
$size--14: 14px;
$size--16: 16px;
$size--24: 24px;

