{
  "presets": ["patronum/babel-preset"],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "debugSids": true,
        "factories": ["@farfetched/core"]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-typescript",
        ["@babel/preset-react", { "runtime": "automatic" }]
      ]
    }
  }
}
