:root {
  --color--background: #f6eddd;
  --color--primary: #ddc9B2;
  --color--primary-light: rgba(221, 201, 178, 0.5);
  --color--primary-dark: #49260a;
  --color--primary-dark-secondary: #623b1c;
  --color--light-secondary: #9e8567;
  --color--primary-secondary: #faf1e9;
}