.button-link {
  font-weight: 500;
  border-radius: 100px;
  box-shadow: 0 0 0 2px var(--color-brown-1);
  display: inline-block;
  color: var(--color-brown-1);

  &--md {
    padding: 14px 22px;
    font-size: var(--font-size--xl);
    line-height: 26px;
    height: 54px;
  }

  &--sm {
    padding: 12px 17px;
    font-size: var(--font-size--md);
    line-height: 18px;
    height: 44px;
  }

  &--xs {
    padding: 7px 20px;
    font-size: var(--font-size--sm);
    line-height: 18px;
    font-weight: 400;
  }
}
