.header {
  top: 0;
  width: 100%;
  position: sticky;
  background-color: var(--color-brown-3);
  padding: 15px 0;
  z-index: 999;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;

    &:first-child {
      flex-direction: column;

      :global(.base-button) {
        justify-content: center;
      }

      a:first-child {
        @include responsive(md) {
          margin-right: 24px;
        }
      }

      @include responsive(md) {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  :global(.badge) {
    margin-right: 16px;

    :global(.base-icon--notifications) {
      font-size: 38px;
    }
  }

  :global(.base-icon--logo) {
    width: 130px;
    height: 32px;
    color: var(--color-brown-1);

    @include responsive(md) {
      width: 260px;
    }
  }
}

