.header {
  background-color: var(--color-brown-3);
  padding: 15px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;

    &:first-child {
      a:first-child {
        margin-right: 24px;
      }
    }
  }

  :global(.badge) {
    margin-right: 16px;

    :global(.base-icon--notifications) {
      font-size: 38px;
    }
  }

  :global(.base-icon--logo) {
    width: 260px;
    height: 32px;
    color: var(--color-brown-1);
  }
}

