.bench-page {
  margin-top: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__create-info {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size--sm);
    line-height: 100%;
    color: var(--color-brown-2);
    margin-top: 14px;
    gap: 12px;

    @include responsive(md) {
      flex-direction: row;
      font-size: 20px;
      gap: 20px;
    }
  }

  &__header-tags {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 12px;
    gap: 14px;

    @include responsive(md) {
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }

  &__header-tag {
    font-size: var(--font-size--md);
    line-height: 1;

    @include responsive(md) {
      font-size: var(--font-size--xl);
      line-height: 24px;
    }
  }

  &__content {
    margin-top: 24px;

    @include responsive(md) {
      margin-top: 50px;
    }
  }

  &__comments {
    margin-top: 20px;

    @include responsive(md) {
      margin-top: 40px;
    }
  }

  @include responsive(md) {
    margin-top: 62px;
  }
}
