.benches-page {
  margin-top: 62px;

  &__header-top {
    display: flex;
    align-items: flex-end;
  }

  &__title {
    margin-right: 40px;
  }

  &__content {
    display: flex;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
    gap: 42px;
  }
}
