.pagination {
  --pagination-font-size: 18px;
  --pagination-font-size-small: 14px;
  --pagination-color: var(--color-brown-1);
  --pagination-active-color: var(--color-background);
  --pagination-item-gap: 4px;
  --pagination-button-width: 44px;
  --pagination-button-width-small: 34px;
  --pagination-button-height: 54px;
  --pagination-button-height-small: 34px;
  --pagination-icon-small-size: 16px;

  $root: &;

  display: flex;
  align-items: center;
  font-size: var(--pagination-font-size);
  white-space: nowrap;
  color: var(--pagination-color);

  &__pages {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: var(--pagination-item-gap);
  }

  &__page {
    width: var(--pagination-button-width);
    height: var(--pagination-button-height);
    min-width: var(--pagination-button-width);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--animation--time) linear,
                color var(--animation--time) linear,
                opacity var(--animation--time) linear;

    button {
      width: var(--pagination-button-width);
      height: var(--pagination-button-height);
      min-width: var(--pagination-button-width);
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.4;
    }

    &[type='page'] {
      border: 1px solid var(--color-brown-2);
      border-radius: 8px;
      cursor: pointer;
    }

    &[type='end-ellipsis'],
    &[type='start-ellipsis'] {
      display: flex;
      align-items: flex-end;
      align-self: flex-end;
      justify-content: center;
      pointer-events: none;
      padding-bottom: 2px;
    }

    &[aria-current='true'] {
      border: 1px solid var(--pagination-color);
      background-color: var(--pagination-color);

      button {
        color: var(--pagination-active-color);
      }
    }

    &.active {
      border: 1px solid var(--color-brown-1);
    }
  }

  &--xs {
    --pagination-button-height: var(--pagination-button-height-small);
    --pagination-font-size: var(--pagination-font-size-small);

    #{$root}__page {
      width: auto;
      min-width: var(--pagination-button-width-small);

      button {
        width: auto;
        min-width: var(--pagination-button-width-small);
        padding-right: 4px;
        padding-left: 4px;
      }

      &[type='end-ellipsis'],
      &[type='start-ellipsis'],
      &[type='first'],
      &[type='last'],
      &[type='next'],
      &[type='previous'] {
        width: var(--pagination-icon-small-size);
        height: var(--pagination-icon-small-size);
        min-width: var(--pagination-icon-small-size);

        svg,
        button {
          width: var(--pagination-icon-small-size);
          height: var(--pagination-icon-small-size);
        }
      }

      &[type='first'],
      &[type='last'] {
        display: none;
      }
    }
  }
}
