:root {
  --container-max: 100%;
  --container-padding: 36px;
  --font-size--xl: 22px;
  --font-size--lg: 18px;
  --font-size--md: 16px;
  --font-size--sm: 12px;
  --font-size--h1: 52px;
  --font-size--h2: 36px;
  --font-size--h3: 34px;
  --font-size--h4: 22px;
  --font-size--h5: 18px;
  --font-size--icon-xs: 16px;
  --font-size--icon-sm: 20px;
  --font-size--icon-md: 24px;
  --font-size--icon-lg: 28px;
  --font-size--icon-xl: 32px;
  --line-height--primary: 1.2;
  --line-height--secondary: 0.8;

  @include generate-color-root-variables;

  @include responsive(md) {
    --container-padding: 32px;
  }
  @include responsive(xl) {
    --container-max: #{$breakpoint--xl};
    --container-padding: 36px;
  }
}

html {
  font-family: $font;
  font-weight: 400;
  font-size: var(--font-size--xl);
  line-height: var(--line-height--primary);
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-brown-1);
  background-color: var(--color-background);
  scroll-behavior: smooth;
  overflow: auto;
}

html, body, #root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 800;
}

h1,
.h1 {
  font-size: var(--font-size--h1);

  @include responsive(md, $breakpoints-only-max) {
    font-size: var(--font-size--h3);
  }
}

h2,
.h2 {
  font-size: var(--font-size--h2);
  line-height: var(--line-height--secondary);
}

h3,
.h3 {
  font-size: var(--font-size--h3);
}

h4,
.h4 {
  font-weight: 600;
  font-size: var(--font-size--h4);
}

h5,
.h5 {
  font-size: var(--font-size--h5);
}

.container {
  width: 100%;
  max-width: var(--container-max);
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  margin-right: auto;
  margin-left: auto;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-blue-20);
}

.main {
  flex-grow: 1;
  margin-bottom: 20px;

  @include responsive(md) {
    margin-bottom: 40px;
  }

  @include responsive(lg) {
    margin-bottom: 56px;
  }

  @include responsive(xl) {
    margin-bottom: 76px;

  }
}
