@use 'resources/variables' as *;
@use 'resources/mixins' as *;

body {
  transition: all 0.15s ease-in;
  font-family: $font--main;
  color: $color--black;
  line-height: 1;
  background-color: $color--bg;
}

.container {
  max-width: 1820px;
  position: relative;
  margin-left: auto;
  padding-left: 20px;
  
  @media screen and (min-width: (2400px)) {
    max-width: 80%
  }
}

.h1, h1 {
  @include text-h1;
}

.h2, h2 {
  @include text-h2;
}

.h3, h3 {
  @include text-h3;
}

.h4, h4 {
  @include text-h4;
}

.text {
  &-lg {
    @include text-lg;
  }

  &-md {
    @include text-md;
  }

  &-sm {
    @include text-sm;
  }
}

//// Colors
//@each $_class-name, $_color in (('primary', $color--primary)) {
//  // @sample
//  // .bg-primary
//  // .color-primary
//  @include color($_class-name, $_color);
//}

// Margins | Paddings
@include sizes-classes;

// Global classes
@include project-classes;
