.all-benches-filters {
  display: flex;
  flex: 1 0 300px;
  flex-direction: column;
  margin-top: 110px;
  margin-right: 70px;
  row-gap: 12px;

  &__header {
    display: flex;
  }

  &__expand-button {
    font-size: var(--font-size--md);
    margin-top: 12px;
  }

  @include responsive(md) {
    row-gap: 24px;
  }

  @include responsive(lg) {
    row-gap: 36px;
  }

  @include responsive(xl) {
    row-gap: 54px;
  }
}
