// TODO: Добавить плавность
.filters-tags {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 12px;
  }

  &__tag {
    border: 1px solid var(--color-brown-1);
    border-radius: 20px;
    font-family: $font;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-brown-1);
    padding: 7px 13px;

    &.selected {
      border-color: transparent;
      color: var(--color-background);
      background-color: var(--color-brown-1);
    }
  }
}
