.s-input {
  width: 100%;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  box-shadow: 5px 5px 20px 0 rgb(188 188 188 / 0.25);
  font-size: 18px;
  color: var(--color-grey-4);
  background: var(--color-white);
  padding: 19px 20px;
}