.header-theme-toggler {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__button {
    font-size: 28px;
    color: var(--color-text);

    &:not(:last-child) {
      margin-right: 4px;
    }

    &.active {
      color: var(--color-primary);
    }
  }
}