.footer {
  background-color: var(--color-brown-1);
  flex-shrink: 0;

  &__info {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :global(.base-icon--logo) {
      color: var(--color-white);
    }

    :global(.base-button) {
      color: var(--color-white);
    }
  }

  &__wrapper {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: var(--color-background);
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--container-max);
    padding: 36px 0 22px;

    a {
      padding: 0;
      margin: 0;
    }
  }

  &__copyright  {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #9E8567;
    align-self: flex-end;
  }

  &__policy {
    font-size: var(--font-size--md);
    display: flex;
    align-items: center;
    color: var(--color-background);

    :global(.base-button) {
      font-size: var(--font-size--md);
      color: var(--color-background);
      font-weight: 600;
      text-underline-offset: 5px;
    }
  }

  &__contacts-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__contacts-socials-item {
    width: 48px;
    height: 48px;
    display: block;

    &:first-child {
      margin-right: 22px;
    }
  }

  &__development {
    position: relative;
    margin-top: 33px;
  }

  &__developer {
    text-align: right;

    span {
      font-size: var(--font-size--sm);
      font-weight: 500;
      line-height: 20px;
    }

    a {
      font-weight: 600;
      font-size: var(--font-size--sm);
      line-height: 20px;
      color: var(--color-background);
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
