.bench-map {
  margin-top: 24px;

  &__coordinates {
    font-size: 20px;
    line-height: 1;
    color: var(--color-brown-2);
    margin-top: 24px;
  }

  @include responsive(md) {
    margin-top: 60px;
  }
}
