.bench-card {
  width: 300px;
  border-radius: 20px;
  background-color: var(--color-brown-6);
  overflow: hidden;

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
    gap: 5px 10px;
  }

  &__title {
    margin-top: 30px;
  }

  &__tag {
    font-size: 14px;
    line-height: 16px;
  }

  &__open-link {
    font-size: var(--font-size--md);
    margin-top: 18px
  }

  &__content {
    padding: 0 32px 26px;
  }
}
