.base-button {

  $root: &;

	display: flex;
	align-items: center;
  border-radius: 100px;
  font-weight: 500;
	font-size: var(--font-size--md);
	color: var(--color-brown-1);

  &__prefix-icon {
    margin-right: 12px;
  }

  &__suffix-icon {
    margin-left: 12px;
  }

  &.icon-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

    &#{$root} {
      &--md {
        width: 48px;
        height: 48px;

        :global(.base-icon) {
          font-size: var(--font-size--icon-md);
        }
      }

      &--sm {
        width: 36px;
        height: 36px;

        :global(.base-icon) {
          font-size: var(--font-size--icon-sm);
        }
      }
    }
  }

  &--only-button {
    border-radius: 50%;
  }

  &--md {
    height: 54px;
    font-size: var(--font-size--xl);
    line-height: 26px;
    padding: 14px 22px;
  }

  &--sm {
    height: 44px;
    font-size: var(--font-size--md);
    line-height: 18px;
    padding: 12px 17px;
  }

  &--xs {
    font-weight: 400;
    font-size: var(--font-size--sm);
    line-height: 18px;
    padding: 7px 20px;
  }

  &--primary {
    color: var(--color-background);
    background-color: var(--color-brown-1);
  }

  &--secondary {
    box-shadow: 0 0 0 2px var(--color-brown-1);
  }

  &--link {
    height: fit-content;
    color: var(--color-brown-1);
    background-color: transparent;
    padding: 0;

    &-underline {
      height: fit-content;
      text-decoration: underline;
      padding: 0;
    }
  }

  &--dashed {
    padding: 0;
    height: fit-content;
    color: var(--color-brown-2);
    font-size: var(--font-size--md);
    line-height: 30px;
    position: relative;

    &::after {
      width: 100%;
      height: 1px;
      bottom: 6px;
      left: 0;
      right: 0;
      content: '';
      position: absolute;
      border-bottom: 1px dashed var(--color-brown-2);
    }
  }

  &__prefix-icon,
  &__suffix-icon {
    display: flex;
    align-items: center;
    font-size: var(--font-size--icon-xs);
  }
}
