@use 'sass:color';

$color--dark: #111;
$color--white: #fff;
$color--background: #fffcf7;
$color--brown-1: #49260a;
$color--brown-2: #9e8567;
$color--brown-3: #ddc9b2;
$color--yellow: #ffB21d;

$color--box-shadow: rgb(188 188 188 / 0.25);

$colors: (
  dark: $color--dark,
  white: $color--white,
  box-shadow: $color--box-shadow,
  brown-1: $color--brown-1,
  brown-2: $color--brown-2,
  brown-3: $color--brown-3,
  background: $color--background,
  yellow: $color--yellow,
)
