@use 'sass:color';

$color--dark: #111;
$color--white: #fff;
$color--background: #fffcf7;
$color--brown-1: #49260a;
$color--brown-2: #9e8567;
$color--brown-3: #ddc9b2;
$color--brown-6: #f0e7df;
$color--brown-7: #faf1e9;
$color--yellow: #ffB21d;

$color--box-shadow: rgb(188 188 188 / 0.25);

$color--brown-4: rgba($color--brown-3, 0.5);
$color--brown-5: rgba($color--brown-1, 0.5);

$color--white-2: rgba($color--white, 0.8);

$colors: (
  dark: $color--dark,
  white: $color--white,
  white-2: $color--white-2,
  box-shadow: $color--box-shadow,
  brown-1: $color--brown-1,
  brown-2: $color--brown-2,
  brown-3: $color--brown-3,
  brown-4: $color--brown-4,
  brown-5: $color--brown-5,
  brown-6: $color--brown-6,
  brown-7: $color--brown-7,
  background: $color--background,
  yellow: $color--yellow,
)
