.tooltip {
  --tooltip-spacing: 220px
;

	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	white-space: normal;
  background-color: 5px solid var(--color-brown-2);
	padding: 5px;
	z-index: 100;}

.tooltip-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

// TODO: Добавить проп на показывание стрелки.
// TODO: Добавить возможность передавать кастомную стрелку.
.tooltip::before {
	width: 0;
  height: 0;
	position: absolute;
  border: 5px solid var(--color-brown-3);
	transform: rotate(45deg);
	pointer-events: none;
	z-index: -1;
}

.tooltip-content {
	font-size: 16px;
	color: var(--color-white);
}

.tooltip.tooltip-top {
	top: calc(var(--tooltip-spacing, 50px) * -1);
}

.tooltip.tooltip-top::before {
	left: 50%;
	bottom: -5px;
	margin-left: -5px;
}

.tooltip.tooltip-right {
	top: 0;
	left: calc(100% + var(--tooltip-spacing, 40px));
}

.tooltip.tooltip-right::before {
	top: calc(50% - 5px);
	left: 0;
	margin-left: -5px;
}

.tooltip.tooltip-bottom {
  left: -178px;
	bottom: calc(var(--tooltip-spacing, 50px) * -1);
}

.tooltip.tooltip-bottom::before {
	top: -5px;
	left: 50%;
	margin-left: -5px;
}

.tooltip.tooltip-left {
	top: 0;
	right: calc(100% + var(--tooltip-spacing, 40px));
}

.tooltip.tooltip-left::before {
	top: calc(50% - 5px);
	right: 0;
	margin-right: -5px;
}
